*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 


header {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: white;
    background-color: #264653;
    gap: 15px;
} 

nav{
    display: flex;
    padding: 10px;
    gap: 100px;
} 

nav a{
    color: white;
    text-decoration: none;
} 

nav a:hover{
    color: #F4A261;
} 

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #F0EFEB;
} 

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55%;
    height: 55%;
    gap: 10px;
    background-color: #F0EFEB;
    border-radius: 15px;
    box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 3%;
} 

h2{
    color: #E9C46A;
} 

.aboutme img{
    margin: auto;
    border-radius: 10px;
} 

.aboutme ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 12px;
    padding-top: 10px;
    width: 100%;
} 

.aboutme ul li{
    width: 100%;
    background-color: #2A9D8F;
    border-radius: 10px;
    padding: 5px;
    color: white;
} 

.aboutme ul li:hover{
    color: #F4A261;
} 

.Projects{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55%;
    height: 60%;
    gap: 10px;
    background-color: #F0EFEB;
    border-radius: 15px;
    box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.15);
    padding: 20px
} 



.Projects table{
    margin: auto;
    width: 100%;
    text-align: center;
} 

.Projects table th{
    background-color: #2A9D8F;
    color: white;
} 

.Projects th, td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
} 

.Projects img{
    margin: auto;
    border-radius: 10px;
} 


.Contact{
    width: 55%;
    height: 50%;
    background-color: #F0EFEB;
    border-radius: 15px;
    box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 3%;
} 

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px;
    color: #2A9D8F
} 


input, textarea{
    width: 100%;
    padding: 10px;
    resize: none;
} 

input:hover, textarea:hover{
    box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.16);
    transition: all .5s ease;
} 

input[type="submit"]:hover{
    background-color: #2A9D8F;
} 

footer{
    display: flex;
    padding: 40px;
    gap: 30%;
    justify-content: center;
    background-color: #264653;
} 

footer a{
    color: white;
    text-decoration: none;
} 

footer a:hover{
    color: #F4A261;
} 